<!DOCTYPE html>  
<html lang="en">  
  <head>
    <meta charset="utf-8">
    <title>Sequences learning</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="/assets/stylesheets/frontend.css">
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Sequences</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">

      <div class="starter-template">
        <h1>Sequences</h1>
        <p class="lead">Use this web interface to easily manage the sequences console application.</p>
      </div>

      <% if (error) { %>
      <div class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        <%- error %>
      </div>
      <% } %>

      <div class="col-md-8">
        <div class = "panel panel-default">
          <div class = "panel-heading">
            <h2 class= "panel-title">Learn sequences</h2>
          </div>
          <div class = "panel-body">
            <form class="form-inline" method="post">
              <div class="form-group">
                <label for="number-seq">Number of sequences to learn</label>
                <input type="text" class="form-control" id="number-seq" name="number-seq" placeholder="5000" value="<%- config.number %>">
              </div>
              <input type="hidden" name="action" value="learn">
              <button type="submit" class="btn btn-primary">Learn!</button>
            </form>
          </div>
        </div>
        <div class = "panel panel-default">
          <div class = "panel-heading">
            <h2 class= "panel-title">Word / Group of words to decompose</h2>
          </div>
          <div class = "panel-body">
            <p class="lead" contenteditable="true" placeholder="Input the words here..."></p>
          </div>
        </div>
        <div class = "panel panel-default">
          <div class = "panel-heading">
            <h2 class= "panel-title">Preprocessed sequence</h2>
          </div>
          <div class = "panel-body">
            <p class="lead" defaultvalue="inputthewordshere"></p>
          </div>
        </div>
        <div class = "panel panel-default">
          <div class = "panel-heading">
            <h2 class= "panel-title">Decomposed sequence</h2>
          </div>
          <div class = "panel-body">
            <p class="lead"></p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class = "panel panel-default">
          <div class = "panel-heading">
            <h2 class= "panel-title">Last sequences learned</h2>
          </div>
          <div class = "panel-body">
            <ul class="list-group">
            <% for(var i=0; i < config.lastWords.length; i++) { %>
               <li class="list-group-item"><%- config.lastWords[i] %></li>
            <% } %>
            </ul>
          </div>
        </div>
      </div>

    </div><!-- /.container -->

    <script src="/assets/javascript/jquery.min.js"></script>
    <script src="/assets/javascript/frontend.js"></script>
    <script src="/assets/javascript/backend.js"></script>
  </body>
</html>  